@import "../abstracts/variable";
@import "../abstracts/media";

body {
  background-color: $background-color;
}

.navbar-brand {
  // font-size: 1.5rem;
  color: $hover-color !important;
  margin-top: 1rem;
  color: $white-color;

  @include desktop {
    font-size: 1.5rem;
  }
}
.navbar-mune {
  text-align: right;
  color: $white-color;
  text-decoration: none;

  @include desktop {
    text-align: start;
    color: $white-color;
    text-decoration: none;
  }
}
.navbar-mune:hover {
  color: $hover-color;
  transition: all ease;
}
.form-control {
  margin-top: 1rem;
  height: 2rem;
  background-color: $white-color;

  @include desktop {
    margin: 0;
  }
}

.home {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.profil {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.add{
  width: 1.5rem;
  height: 1.5rem;
  color: $white-color;
  fill: currentColor;
}

  .add:hover {
    color: $hover-color;
    transition: all ease;
  }
.search {
  color: $white-color;
  background-color: $botton-color;
}
// -------------------------------------------------

.post{
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
  margin-top: 2rem;
  background-color: $border-color;
  border-radius: 1rem;

  @include desktop{
      margin-top: 4rem;
  }
}
.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.media {
  margin-left: 1rem;
  margin-top: 1rem;
  img {
    width: 3rem;
    height: 3rem;
  }
}
.text {
  color: $white-color;
  margin-left: 1rem;
}
.titel{
  color: $hover-color;
}
.spa{
    margin: 1rem;
    color: $white-color;
}

.commit {
  height: 32px;
}
.commit input {
 margin-left: 1rem ;
  height: 32px !important;
  color: $white-color;
  background-color: $background-color;
  border-style: none;
  border: 1px solid $white-color;
}
.commit a {
  width: 4rem;
  height: 2rem;
  padding: 0px 4px !important;
  margin: 1rem 0;

  @include desktop {
    margin: 0;
  }
}

.send{
    color: $white-color;
     width: 3rem;
    height: 2rem;
    fill: currentColor;
}
.send:hover{
  color: $hover-color;
  transition: all ease;
}

.more{
  margin-left: auto;
}
.point{
  margin-left: auto;
  color: $white-color;
  width: 3rem;
  height: 2rem;
  fill: currentColor;
}

// -------------------------------------------------
.modal-content{
  height: 30rem;
}
.modal-body input{
  width: 100%;
}
.modal-title{
  color: $botton-color;
}

.modal-body input{
  padding: 1rem;
  border-radius: 0.5rem;
  border: $white-color 1px solid;
}
.modal-footer{
  
  input{
    color: $white-color;
    background-color: $botton-color;
    border-radius: 0.5rem;
    border: $white-color 1px solid;
  }
}