@import "../abstracts/media";

body {
    background-color: $background-color;
}


.sing-up{  
    @include tablet{
        display:flex;
        justify-content: center;
    }
    @include desktop{
        display: flex;
        justify-content: center;
    }
}
.titre{
    color: $hover-color;
    text-align: center;
    margin: 2rem;
}
.singup{
    background-color: $border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;

    @include desktop{
        width: 30rem;
        display:flex;
        justify-content: center;
      }
      @include tablet{
        display: flex;
        justify-content: center;  
        width: 30rem;
      }
    
    h1{
        font-size:x-large;
        color: #E5E5E5;
      }

    input{
        color: #E5E5E5;
        background-color: $background-color;
        height: 2rem;
        border-style: none;
        border: 1px solid #E5E5E5;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    .botton{
        background-color: $botton-color;
        color: #E5E5E5;
        font-weight: bold;
        height: 3rem;
        padding: 0.5rem;
    }
    .botton:hover{
        background-color: $hover-color;
        transition: all ease;
    }
}