body {
  background-color: #1F1D36;
}

.navbar-brand {
  color: #E9A6A6 !important;
  margin-top: 1rem;
  color: #E5E5E5;
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.navbar-mune {
  text-align: right;
  color: #E5E5E5;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .navbar-mune {
    text-align: start;
    color: #E5E5E5;
    text-decoration: none;
  }
}

.navbar-mune:hover {
  color: #E9A6A6;
  -webkit-transition: all ease;
  transition: all ease;
}

.form-control {
  margin-top: 1rem;
  height: 2rem;
  background-color: #E5E5E5;
}

@media only screen and (min-width: 992px) {
  .form-control {
    margin: 0;
  }
}

.home {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.profil {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.add {
  width: 1.5rem;
  height: 1.5rem;
  color: #E5E5E5;
  fill: currentColor;
}

.add:hover {
  color: #E9A6A6;
  -webkit-transition: all ease;
  transition: all ease;
}

.search {
  color: #E5E5E5;
  background-color: #1A1B26;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 2rem 0;
  margin-top: 2rem;
  background-color: rgba(26, 27, 38, 0.5);
  border-radius: 1rem;
}

@media only screen and (min-width: 992px) {
  .post {
    margin-top: 4rem;
  }
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.media {
  margin-left: 1rem;
  margin-top: 1rem;
}

.media img {
  width: 3rem;
  height: 3rem;
}

.text {
  color: #E5E5E5;
  margin-left: 1rem;
}

.titel {
  color: #E9A6A6;
}

.spa {
  margin: 1rem;
  color: #E5E5E5;
}

.commit {
  height: 32px;
}

.commit input {
  margin-left: 1rem;
  height: 32px !important;
  color: #E5E5E5;
  background-color: #1F1D36;
  border-style: none;
  border: 1px solid #E5E5E5;
}

.commit a {
  width: 4rem;
  height: 2rem;
  padding: 0px 4px !important;
  margin: 1rem 0;
}

@media only screen and (min-width: 992px) {
  .commit a {
    margin: 0;
  }
}

.send {
  color: #E5E5E5;
  width: 3rem;
  height: 2rem;
  fill: currentColor;
}

.send:hover {
  color: #E9A6A6;
  -webkit-transition: all ease;
  transition: all ease;
}

.more {
  margin-left: auto;
}

.point {
  margin-left: auto;
  color: #E5E5E5;
  width: 3rem;
  height: 2rem;
  fill: currentColor;
}

.modal-content {
  height: 30rem;
}

.modal-body input {
  width: 100%;
}

.modal-title {
  color: #1A1B26;
}

.modal-body input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: #E5E5E5 1px solid;
}

.modal-footer input {
  color: #E5E5E5;
  background-color: #1A1B26;
  border-radius: 0.5rem;
  border: #E5E5E5 1px solid;
}

body {
  background: #1F1D36;
}

.sing-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .sing-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .sing-in {
    margin: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sing-in .information {
  padding: 2rem;
}

@media only screen and (min-width: 992px) {
  .sing-in .information {
    width: 20rem;
  }
}

.sing-in .information h1 {
  color: #E9A6A6;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .sing-in .information h1 {
    text-align: start;
  }
}

.sing-in .information p {
  margin-top: 3rem;
  color: #E5E5E5;
}

.sing-in .form {
  background-color: rgba(26, 27, 38, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

@media only screen and (min-width: 768px) {
  .sing-in .form {
    width: 30rem;
  }
}

@media only screen and (min-width: 992px) {
  .sing-in .form {
    width: 30rem;
  }
}

.sing-in h2 {
  font-size: x-large;
  color: #E5E5E5;
}

.sing-in input {
  color: #E5E5E5;
  background-color: #1F1D36;
  height: 2rem;
  border-style: none;
  border: 1px solid #E5E5E5;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.sing-in .botton {
  background-color: #1A1B26;
  color: #E5E5E5;
  font-weight: bold;
  height: 3rem;
  padding: 0.5rem;
}

.sing-in .a {
  color: #E9A6A6;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sing-in .botton:hover {
  background-color: #E9A6A6;
  -webkit-transition: all ease;
  transition: all ease;
}

body {
  background-color: #1F1D36;
}

@media only screen and (min-width: 768px) {
  .sing-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .sing-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.titre {
  color: #E9A6A6;
  text-align: center;
  margin: 2rem;
}

.singup {
  background-color: rgba(26, 27, 38, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

@media only screen and (min-width: 992px) {
  .singup {
    width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .singup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30rem;
  }
}

.singup h1 {
  font-size: x-large;
  color: #E5E5E5;
}

.singup input {
  color: #E5E5E5;
  background-color: #1F1D36;
  height: 2rem;
  border-style: none;
  border: 1px solid #E5E5E5;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.singup .botton {
  background-color: #1A1B26;
  color: #E5E5E5;
  font-weight: bold;
  height: 3rem;
  padding: 0.5rem;
}

.singup .botton:hover {
  background-color: #E9A6A6;
  -webkit-transition: all ease;
  transition: all ease;
}

* {
  font-family: Gilroy, Arial, sans-serif, Serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */