@import "../../abstracts/variable";
@import "../home";
@import "../sing-in";
@import "../sing-up";
@import "../update";

@import "../../abstracts/media";


*{
    font-family: $fonts;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }